<!-- Panel Frame -->
<mat-card class="panel-container py-2 px-0">
    <!-- Panel Header -->
    <div class="panel-header px-3">
        <div class="d-flex flex-row justify-content-between">
            <!-- Panel Title -->
            <div class="panel-header-title me-3">
                {{ title }}
            </div>
            <!-- Panel Buttons -->
            <div class="panel-header-buttons d-flex flex-row">
                <mat-icon class="panel-action-btn open-new-tab" (click)="this.showPortal=true" *ngIf="externalWindows">open_in_new</mat-icon>
                <mat-icon class="panel-action-btn show-data" (click)="showData()"
                    [ngClass]=" isShowingData? 'panel-open': ''"
                >expand_more</mat-icon>
                <mat-icon class="panel-action-btn close">close</mat-icon>
            </div>
        </div>
    </div>
    <!-- Panel Body -->
    <div class="panel-body" [ngClass]=" !isShowingData? 'data-close': ''" class="data-viewer">
        <hr class="m-0 my-1">
        <div class="px-3">
            <ng-template #viewer></ng-template>
        </div>
    </div>
</mat-card>
<!-- External Windows -->
<app-external-frame *ngIf="showPortal" [title]="title" (onCloseEvent)="showData()">
    <h2>Mostrando información desde otra ventana</h2>
    {{ title }}
    {{ template.templateData }}
</app-external-frame>