.panel-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    background-color: #000;
}

.multiple-draggable-panel {
    position: absolute;
    top: 10%;
    left: 10%;
    outline: none;
    opacity: 0;
}

.center-panel {
    left: 25%;
    top: 25%;
    /* transform: translate(-50%, -50%); */
}

.fade-in-out {
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

.drag-handle{
    height: 30px;
    position: absolute;
    z-index: 100;
    background-color: transparent;
    cursor: grab;
}
.drag-handle-open{
    width: calc(100% - 90px);
}
.drag-handle-close{
    width: calc(100% - 65px);
}
.drag-handle:active:hover{
    cursor: grabbing;
}