<div class="template-container d-flex flex-column">
    <div class="template-header d-flex flex-row align-items-center justify-content-center template-traslucent my-1">
        <mat-icon class="material-icons-outlined me-2 template-traslucent">image</mat-icon>
        <span class="fs-2">{{templateData.title}}</span>
    </div>
    <div class="template-body">
        <div class="template-media-container mb-1">
            <img [src]="templateData.image" alt="{{templateData.title}} image" class="template-image"
            >
        </div>
    </div>
</div>
